body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #0077cc;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077cc;
    margin: 0 5px;
    border: 2px solid #0077cc; /* Same as background for initial non-hover state */
    transition: background-color 0.3s, border-color 0.3s;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav ul li:hover {
    background-color: white;
    border-color: white;
}

nav a:hover {
    color: #0077cc;
}

/* Active link styles */
nav a.active {
    background-color: white;
    color: #0077cc;
    border-color: white;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
}

.skill {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.skill img {
    width: 80%;
    transition: opacity 0.3s ease;
}

.skill-name {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.skill:hover .skill-name {
    visibility: visible;
    opacity: 1;
}

.skill:hover {
    transform: scale(1.1);
}
